<h1>Secret Page</h1>

<p>You found me!</p>

<img src="712669.jpg" height="100px">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log in!</a></li>
<li><a href="/logout">Logout!</a></li>
